.nav-container {
	height: 100px;
	width: 100%;

	background-color: $primary-color;

	position: sticky;
	top: 0;
	left: 0;

	@media screen and (max-width: $xs) {
		height: 80px;
	}

	.nav {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2rem;

		@media screen and (max-width: $xs) {
			padding: 0.5rem;
		}
	}

	.brand {
		display: flex;
		align-items: center;

		.brand_img {
			width: 60px;
			margin-right: 1rem;

			@media screen and (max-width: $xs) {
				width: 50px;
				margin-right: 0.5rem;
			}
		}

		.brand_name {
			text-transform: uppercase;
			color: white;
			letter-spacing: 0.1rem;
			font-size: clamp(14px, 2.5vw, 26px);
		}
	}

	.nav_btn {
		padding: 0.5rem 0.75rem;
		font-weight: 600;
		letter-spacing: 0.1rem;
		background-color: white;
		border: none;
		outline: none;
		color: $primary-color;
		cursor: pointer;
		border-radius: 8px;
	}
}
